<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
	<system.web>
		<compilation debug="true" strict="false" explicit="true" targetFramework="4.0"/>
	</system.web>
	<connectionStrings>
		
		<add name="MySQLConnstr" connectionString="DRIVER={SQL Server Native Client 10.0};Server=localhost; Database=Esports;UID=Kubz\Kabelo; PWD=''; "/>
	</connectionStrings>
</configuration>
