/*user Controls*/

.rounded
{
    border-radius: 7px 7px 7px 7px;
}


/*logonscren*/
.shadows
{
    overflow: hidden;
    position: relative;
    display: block;
    -moz-box-shadow: 0px 1px 4px rgba(0, 0, 0, .75);
    -webkit-box-shadow: 0px 1px 4px rgba(0, 0, 0, .75);
    -moz-border-radius: 7px 7px 7px 7px;
    -webkit-border-radius: 7px 7px 7px 7px;
    border: 1px solid #818181;
    background: #3a4f63;
    font-size: 12px;
    font-weight: bold;
    top: 33%;
    left: 2px;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    align: center;
    background-size: 490 px;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, .75);
    border-radius: 7px 7px 7px 7px;
    background-image: url('../Img/lock.jpg');
    background-repeat: no-repeat;
    font-family: 'Maven Pro';
	font-style: normal;
	font-weight: 800;
}


.stylebuttons
{
    background-attachment: scroll;
    background-clip: border-box;
    background-color: rgb(10, 192, 235);
    background-image: none;
    background-origin: padding-box;
    background-position: 0% 0%;
    background-repeat: repeat;
    background-size: auto auto;
    border-bottom-color: rgb(68, 68, 68);
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-image-outset: 0 0 0 0;
    border-image-repeat: stretch stretch;
    border-image-slice: 100% 100% 100% 100%;
    border-image-source: none;
    border-image-width: 1 1 1 1;
    border-left-color: rgb(68, 68, 68);
    border-left-style: solid;
    border-left-width: 1px;
    border-right-color: rgb(68, 68, 68);
    border-right-style: solid;
    border-right-width: 1px;
    border-top-color: rgb(68, 68, 68);
    border-top-style: solid;
    border-top-width: 1px;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 0px 3px 0px, rgba(255, 255, 255, 0.5) 0px -2px 6px 0px inset;
    color: rgb(255, 255, 255);
    cursor: pointer;
    font-family: Lucida Grande;
    font-size: 11px;
    line-height: 14px;
    list-style-image: none;
    list-style-position: outside;
    list-style-type: none;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    padding-bottom: 4px;
    padding-left: 14px;
    padding-right: 14px;
    padding-top: 4px;
    text-shadow: rgba(0, 0, 0, 0.5) 0px 1px 0px;
    text-transform: uppercase;
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;   
}

.stylebuttons:hover   
{
    -moz-box-shadow: 0 0 3px #323232;
    -webkit-box-shadow: 0 0 3px #323232; 
    box-shadow: 0 0 3px #323232; 
    border: 1px solid #323232; 
 }
 
 input[type=select]:focus {
   -moz-box-shadow: 0 0 4px blue;
     -webkit-box-shadow: 0 0 4px blue; 
     box-shadow: 0 0 4px blue; 
     border: 1px solid blue;
 }
 
input[type=text]
{
   
    -moz-box-shadow: 0 0 0  rgb(119, 119, 119);
     -webkit-box-shadow: 0 0 0  rgb(119, 119, 119); 
     box-shadow: 0 0 0  rgb(119, 119, 119); 
     border: 1px solid  rgb(119, 119, 119); 
}
	
input[type=text]:hover
{
     -moz-box-shadow: 0 0 4px  blue;
     -webkit-box-shadow: 0 0 4px  blue; 
     box-shadow: 0 0 4px  blue; 
     border: 1px solid  blue; 
}

input[type=text]:focus
{
     -moz-box-shadow: 0 0 3px forestgreen;
     -webkit-box-shadow: 0 0 3px forestgreen; 
     box-shadow: 0 0 3px forestgreen; 
     border: 1px solid forestgreen; 
}




/* Grid View */
.GridHeader
{
    background-color: lightsteelblue;
    font-style: normal;
    color: #000000;
    font-weight: bold;
    height: 10px;
}

.GridRow
{
    background-color:#E6E6E6;
}

.GridAltRow
{
    background-color:#CDCDCD;
}

/* Added */

.TopLeftPanel
{
    height: 100%;
    width: 100%;
    background-color: White;
    border-radius: 7px 7px 7px 7px;
}

.TopRightPanel
{
    height: 100%;
    width: 100%;
    background-color: White;
    border-radius: 7px 7px 7px 7px;
}

.BotomPanel
{
    height: 100%;
    width: 100%;
    background-color: White;
    border-radius: 7px 7px 7px 7px;
}

/*Colour*/

.slideshow 
{
    position:absolute; 
    top:0; 
    left:0; 
    z-index:-1; 
    overflow: hidden; 
    background:url(../Img/bg-slider.png) repeat-x center top;
}

.title
{
    display: block;
    float: left;
    position:absolute;
    text-align: left;
    width: auto;
    height:50px;
    top:15px;
    vertical-align:middle;
    background:url(../Img/bg-slider.png) repeat-x center top #696969;
    
}

.shadow-down 
{
    position:absolute; width:918px; 
    height:20px; 
    top: 64px; 
    left:50%; 
    margin-left:-459px;
    z-index:1;  
    background:url(../Img/shadow-down.png) no-repeat;
  }

div.menu ul li a, div.menu ul li a:visited
{
    border-right: 1px #b5b5b5 solid;

    display: block;
    line-height: 1.35em;
    padding: 4px 20px;
    text-decoration: none;
    white-space: nowrap;
    background:url(../Img/bg-slider.png) repeat-x center top #696969;
}

div.menu ul li a:hover
{
    background-color: #b5b5b5;
    color: #4e4e4e;
    text-decoration: none;
    background:url(../Img/bg-slider.png) repeat-x center top;
}

.colour2
{
    z-index:-1; 
    overflow: hidden; 
    background:url(../Img/bg-slider.png) repeat-x center top #ffffff;
}

.colour3
{
    background:#7B7B7B;
    color: White;
}

.stripe
{
    width: 100%; 
    position: absolute; 
    margin: 0px; 
    padding: 0px;
    top: 75%; 
    left: 0px; 
    height: 150px;
    background:url(../Img/bg-slider.png) repeat-x center top #AAAAAA;
}

/* DEFAULTS
----------------------------------------------------------*/

body   
{
    background: #3a4f63;
    font-size: .80em;
    font-family: "Helvetica Neue", "Lucida Grande", "Segoe UI", Arial, Helvetica, Verdana, sans-serif;
    margin: 40px;
    padding: 0px;
    color: #00bfff;
    width: 94%;
    horiz-align: center;
}

a:link, a:visited
{
    color: #034af3;
}

a:hover
{
    color: #1d60ff;
    text-decoration: none;
}

a:active
{
    color: #034af3;
}

p
{
    margin-bottom: 10px;
    line-height: 1.6em;
}


/* HEADINGS   
----------------------------------------------------------*/

h1, h2, h3, h4, h5, h6
{
    font-size: 1.5em;
    color: #666666;
    font-variant: small-caps;
    text-transform: none;
    font-weight: 200;
    margin-bottom: 0px;
}

h1
{
    font-size: 1.6em;
    padding-bottom: 0px;
    margin-bottom: 0px;
}

h2
{
    font-size: 1.5em;
    font-weight: 600;
}

h3
{
    font-size: 1.2em;
}

h4
{
    font-size: 1.1em;
}

h5, h6
{
    font-size: 1em;
}

/* this rule styles <h1> and <h2> tags that are the 
first child of the left and right table columns */
.rightColumn > h1, .rightColumn > h2, .leftColumn > h1, .leftColumn > h2
{
    margin-top: 0px;
}


/* PRIMARY LAYOUT ELEMENTS   
----------------------------------------------------------*/

.page
{
    width: 960px;
    background-color: white;
    margin: 20px auto 0px auto;
    border: 1px solid #496077;
}

.header
{
    position: absolute;
    margin: 0px;
    padding: 0px;
    width: 100%;
}

.header h1
{
    font-weight: 700;
    margin: 0px;
    padding: 0px 0px 0px 20px;
    color: #f9f9f9;
    border: none;
    line-height: 2em;
    font-size: 2em;
}

.main
{
    position:absolute;
    padding: 0px 12px;
    margin: 12px 8px 8px 8px;
    min-height: 420px;
    top:80px;
    width: 100%; 
    position:absolute;  
    margin: 0px;
    padding: 0px; 
    height: 85%; 
}

.leftCol
{
    padding: 6px 0px;
    margin: 12px 8px 8px 8px;
    width: 200px;
    min-height: 200px;
}

.footer
{
    color: #4e5766;
    padding: 8px 0px 0px 0px;
    margin: 0px auto;
    text-align: center;
    line-height: normal;
}


/* TAB MENU   
----------------------------------------------------------*/
table.menu
{
    margin:0px auto;
}
        
div.hideSkiplink
{
    background-color:#3a4f63;
    width:100%;
}

div.menu
{
    padding: 4px 0px 4px 8px;
}

div.menu ul
{
    list-style: none;
    margin: 0px;
    padding: 0px;
    width: auto;
}

div.menu ul li a, div.menu ul li a:visited
{
    background-color: #4e4e4e;
    border-right: 1px #b5b5b5 solid;
    color: #b5b5b5;
    display: block;
    line-height: 1.35em;
    padding: 4px 20px;
    text-decoration: none;
    white-space: nowrap;
}

div.menu ul li a:hover
{
    background-color: #b5b5b5;
    color: #4e4e4e;
    text-decoration: none;
}

div.menu ul li a:active
{
    background-color: #465c71;
    color: #cfdbe6;
    text-decoration: none;
}

/* FORM ELEMENTS   
----------------------------------------------------------*/

fieldset
{
    margin: 1em 0px;
    padding: 1em;
    border: 1px solid #ccc;
}

fieldset p 
{
    margin: 2px 12px 10px 10px;
}

fieldset.login label, fieldset.register label, fieldset.changePassword label
{
    display: block;
}

fieldset label.inline 
{
    display: inline;
}

legend 
{
    font-size: 1.1em;
    font-weight: 600;
    padding: 2px 4px 8px 4px;
}

input.textEntry 
{
    width: 320px;
    border: 1px solid #ccc;
}

input.passwordEntry 
{
    width: 320px;
    border: 1px solid #ccc;
}

div.accountInfo
{
    width: 42%;
}

/* MISC  
----------------------------------------------------------*/

.clear
{
    clear: both;
}

.loginDisplay
{
    font-size: 1.1em;
    display: block;
    text-align: right;
    padding: 10px;
    color: White;
}

.loginDisplay a:link
{
    color: white;
}

.loginDisplay a:visited
{
    color: white;
}

.loginDisplay a:hover
{
    color: white;
}

.failureNotification
{
    font-size: 1.2em;
    color: Red;
}

.bold
{
    font-weight: bold;
}

.submitButton
{
    text-align: right;
    padding-right: 10px;
}