.hiSlider-SliderApp .hiSlider-thumb-frame{
	position: absolute;
	border: 4px solid #000000;
	left:0px;
	right:0px;
	top:0px;
	bottom:0px;
	z-index: 10;
	opacity: 0.3;
	filter: progid:DXImageTransform.Microsoft.Alpha(opacity=30);
}
